{% extends "_global/index.html" %}

{% block main %}
<hr>
    <ul>   
            <li class="row product">
                {% for product in productsInCategory %}
                    <div class="card col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 text-center bg-color">
                        <a href="{{ BASE }}product/{{ product.product_id }}">
                            <img src="{{ BASE }}{{ product.image }}"  alt="Slika proizvoda {{product.product_id}}" class="card-img-top width-100">
                        </a>
                        <div class="card-body row">
                            <a href="{{ BASE }}product/{{ product.product_id }}" class="card-title col-md-12">
                                {{ product.title|escape }}
                            </a>
                            <span class="card-text col-md-12 price">{{ product.price|escape }} RSD</span>
                            <hr class="col-12">
                            <div class="quantity row col-12 m-2">
                                <p class="col-6">Količina :</p> <input class="form-control col-6" type="number" id="quantity_{{product.product_id}}" min="1" step="1" value="1">
                            </div>
        
                            <a href="#" class="btn btn-success col-12" onclick="addCart({{ product.product_id }});">Dodaj u korpu &nbsp;<i class="fa fa-opencart"></i></a> 
                        </div>
                    </div>
                {% endfor %}
            </li>   
    </ul>
    <div id="modal-wrapper" class="modal">
  
        <div class="modal-content animate" >
              
          <div class="imgcontainer">
            <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
            <h1 style="text-align:center">Proizvod je dodat u korpu</h1>
          </div>
      
          <div class="container">   
            <button onclick="document.getElementById('modal-wrapper').style.display='none'">Nastavi kupovinu</button>
            <button onclick=" window.open('{{ BASE }}cart')">Pogledaj korpu</button>
          </div>
          
        </div>
        
      </div>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}