{% extends "/_global/index.html" %}
{% block naslov %}Admin Panel{% endblock %}

{% block main %}
    <div>
        <div class="options row">
                <button class="col-12 btn btn-success" onclick="location.href='{{ BASE }}admin/products'"><i class="fa fa-list"></i>&nbsp;List all products</button>
        </div>
    </div>
{% endblock %}