{% extends "/_global/index.html" %}

{% block main %}


    <hr>

    <form class="order-form" method="POST">
        <div class="form-group">
            <label for="customer_first_name">First name: </label>
            <input class="form-control" type="text" id="customer_first_name" name="customer_first_name" required>
        </div>
        <div class="form-group">
            <label for="customer_last_name">Last name: </label>
            <input class="form-control" type="text" id="customer_last_name" name="customer_last_name" required>
        </div>
        <div class="form-group">
            <label for="customer_email">Email: </label>
            <input class="form-control" type="email" id="customer_email" name="customer_email" required>
        </div>
        <div class="form-group">
            <label for="customer_address">Address: </label>
            <input class="form-control" type="text" id="customer_address" name="customer_address" required>
        </div>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Confirm</button>
        </div>
    </form>
    <button class="btn btn-info" onclick="window.location.href='{{BASE}}cart'">Back to cart</button>

{% endblock %}