{% extends "/_global/index.html" %}

{% block main %}
<div>
    <p>{{ message|escape }}</p>
    <div class="options">
        <a href="{{ BASE }}checkout">Vrati se nazad.</a>
    </div>
</div>
{% endblock %}