{% extends "_global/index.html" %}

{% block main %}
    <ul>
        <div class="products">
            {% for product in products %}
            <li class="product">
                <a href="{{ BASE }}product/{{ product.product_id }}" class="title">
                    {{ product.title|escape }}
                </a> 
                <a href="{{ BASE }}product/{{ product.product_id }}" class="image">
                    <img src="{{ BASE }}{{ product.image }}"  alt="Slika proizvoda {{product.product_id}}">
                </a>
                <span class="price">{{ product.price|escape }} RSD</span>
            </li>
            {% endfor %}
        </div>
    </ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}