{% extends "/_global/index.html" %}

{% block main %}
    <div class="product-view row right">
        <img class="image-view col-6" src="{{ BASE }}{{ product.image }}" alt="Slika proizvoda {{product.product_id}}">
        <div class="col-6">
            <h1 class="title-view">{{ product.title|escape }}</h1>
            <p class="desc-view">{{ product.description }}</p>
            <p class="price-view">Cena: {{ product.price }} RSD</p>
        </div>
		<div class="quantity row col-12 m-2">
            <p class="col-2">Količina :</p> <input class="form-control col-3" type="number" id="quantity_{{product.product_id}}" min="1" step="1" value="1">
        </div>
        <a href="#" class="btn btn-success col-12" onclick="addCart({{ product.product_id }});">Dodaj u korpu &nbsp;<i class="fa fa-opencart"></i></a> 

    </div>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}