{% extends "/_global/index.html" %}

{% block main %}
<div>


	<a class="btn btn-blue" href="{{ BASE }}relizacija-ugovora">Nazad</a>


    <form method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
        

        <select class="form-control" name="plan_javnih_nabavki_id" id="plan_javnih_nabavki_id">
            {% for plan_javnih_nabavki in planovi %}
                <option value="{{ plan_javnih_nabavki.plan_javnih_nabavki_id }}">{{ plan_javnih_nabavki.program_poslovanja_id|escape }}  |  {{ plan_javnih_nabavki.opis_pjn|escape }}</option>
            {% endfor %}
        </select>
        
        <div class="form-group">
            <label for="broj">Број уговора: </label>
            <input class="form-control" type="text" id="broj" name="broj" pattern="^[0-9]{1,4}\/[0-9]{1,4}$" title="Унесите број уговора у формату број/број" required>
        </div>
        <div class="form-group">
            <label for="datum_ugovora_at">Датум уговора: </label>
            <input class="form-control" type="date" id="datum_ugovora_at" name="datum_ugovora_at" required>
        </div>    
        <div class="form-group">
            <label for="suma">Уговорена сума без пдв-а </label>
            <input class="form-control" type="text" id="suma" name="suma" pattern="^[0-9]+$" title="Унесите износ у формату броја без тачки и зареза" required>
        </div>
        <div class="form-group">
            <label for="dobavljac">Добављач: </label>
            <input class="form-control" type="text" id="dobavljac" name="dobavljac" required>
        </div>
        <div class="form-group">
            <label for="trajanje">Трајање уговора: </label>
            <input class="form-control" type="text" id="trajanje" name="trajanje" placeholder="Месеци" required>
        </div>   
        <div class="form-group">
            <label for="realizacija">Реализација уговора: </label>
            <input class="form-control" type="text" id="realizacija" name="realizacija" pattern="^[0-9]+$" title="Унесите износ у формату броја без тачки и зареза" required>
        </div>
        <div class="form-group">
            <label for="ugovor_realizovan_at">Датум реализације уговора: </label>
            <input class="form-control" type="date" id="ugovor_realizovan_at" name="ugovor_realizovan_at" required>
        </div>
        <div class="form-group">
            <label for="status">Статус уговора: </label>
            <select class="form-control" name="status" id="status">
                <option value="Није реализован">Није реализован</option>
                <option value="Реализација у току">Реализација у току</option>
                <option value="Реализован">Реализован</option>
            </select>    
        </div>
        <div class="form-group">
            <label for="napomena">Напомена: </label>
            <input class="form-control" type="text" id="napomena" name="napomena" >
        </div>
        <div class="form-group">
            <label for="razlog_neizvrsenja">Разлог неизвршења: </label>
            <input class="form-control" type="text" id="razlog_neizvrsenja" name="razlog_neizvrsenja" >
        </div>
        <div class="form-group">
            <button class="btn btn-red" type="submit"><i class="fa fa-plus"></i> Dodaj ugovor</button>
        </div> 
    </form>
</div>
{% endblock %}