<!doctype html>
<html>
    <head>
        <title>Projekat - {% block naslov %}Logovanje{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    <body>
        <div class="container p-4 text-center">
            <h4>{{ message }}</h4>
            <a class="btn btn-blue" href="{{ BASE }}login">Nazad</a>
        </div>      

    <footer class="site-footer">
        &copy; 2019 - Projekat javnih nabavki - Putevi Srbije - Master rad - Luka Jovanovic 
    </footer>
        <script src="{{BASE}}assets/js/validate-form.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </body>
</html>


