{% extends "/_global/index.html" %}

{% block main %}
{% spaceless %}
<div class="img">
    <h2 class="poruka">Dobrodošli ! Ulogovani ste kao : <span class="ps-red">{{admin.username}}</span></h2>
    <div class="uputstva">
        <h3 class="ps-red text-center">Obaveštenja:</h3>
        <ol class="ps-blue font-weight-bold">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras varius diam non nulla placerat tincidunt. Vestibulum facilisis vulputate odio id sagittis.</li>
            <li>Vivamus sed rutrum tortor, non mattis nulla. In porta aliquam sapien, et aliquam diam mattis sit amet. Mauris felis ex, lobortis eget magna vitae, porta varius urna.</li>
            <li>Integer dui lacus, fermentum sed metus mollis, posuere porttitor mi. Aenean molestie felis sit amet orci sagittis tempor. Nulla auctor eget tellus maximus feugiat.</li>
        </ol>
        <p class="ps-red font-weight-bold">{{ message }}</p>
    </div>

    
</div>
{% endspaceless %}
{% endblock %}