{% extends "/_global/index.html" %}
{% block naslov %}Kontakt{% endblock %}

{% block main %}
{% spaceless %}
<div class="container-fluid">
    <h1 class="text-center">Kontakt</h1>
    <hr>
     <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2830.9230869388293!2d20.46370441589675!3d44.802756079098714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7009ee00df6f%3A0x8c91d4e6ae6522d9!2sTrg+Slavija!5e0!3m2!1sen!2srs!4v1540325270385" width="100%" height="450" style="border:0" allowfullscreen></iframe>
     </div>
        <div class="row">
          <div class="col-4 tel pt-4">
            <a href="tel:+123456789"><i class="fa fa-phone fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Telefon</h3>
            <p class="d-none d-lg-block d-xl-block">+123456789</p></a>
          </div>
          <div class="col-4 address pt-4">
            <a href=""><i class="fa fa-home fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Adresa</h3>
            <p class="d-none d-lg-block d-xl-block">Trg Slavija, 1, 11000 Belgrade</p></a>
          </div>
          <div class="col-4 mail pt-4">
            <a href="mailto:test@test.com"><i class="fa fa-envelope fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
            <p class="d-none d-lg-block d-xl-block">test@test.com</p></a>
          </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}