
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    height: 100%;
  }

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(#ffffff, #185a9d);
}

p {
    font-size: 1vw;
}

h3 {
    font-size: 1.5vw;
    color: #ffffff;
    font-weight: 700;
}

main {
    margin: 0 auto 0 auto;
}

.container-fluid {
    padding: 0;
}

.top {
    height: 3.5vw;
}

.social-icons { 
    margin-bottom: 10px; 
}

.social-icons a i.fa {
    color: #185a9d;
    font-size: 50px;
    display: inline-block;
    margin: 5px;
}

.social-icons a i.fa:hover{
    color: #43cea2 ;
}

.logo{
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-weight: 1000;
}

.navbar {
    height: 50px; 
    border-top: 2px solid #185a9d;
    border-bottom: 2px solid #185a9d;
    background: linear-gradient(to right, #43cea2, #185a9d);
}

.navbar li {
    padding: 10px;
}

.navbar li a {
    outline: 0;
}

.navbar a:link, .navbar a:visited {
    color: #ffffff;
    font-size: 20px;
}

.navbar li.active {
    background-color: #185a9d;
}

.navbar li {
    padding: 0;
    border: 2px solid transparent;
}

.navbar li:hover {
    border: 2px solid #ffffff;
    border-radius: 3px;
}

.search-input {
    height: 48px;
    width: 230px;
    border: 1px solid #185a9d;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
    
}

.search-button {
    height: 48px;
    width: 48px;
    border: 1px solid #185a9d;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}

.search-button i {
    font-size: 30px;
    color: #185a9d;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    cursor: default;      
}

a:link:active, a:visited:active {
    color: grey;
}

a:hover {
    color: grey;
}

.category {
    padding: 50px 0px;
}

.cart-card {
    margin: 20px 0;
}

.cart {
    font-size: 500%;
    color:	#5cb85c;
}

.width-100 {
    width: 100%;
}

.price {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.slider {
    margin: 1vw 0;
    border-radius: 5px;
}

.edt {
    margin-bottom: 10px;
    font-size: 140%;
}

ul {
    list-style: none;
}

.cart-item-title {
    font-size: 150%;
    text-align: center;
}

.cart-item-price {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 120%;
}

.cart-item-qty {
    text-align: right;
    padding: 0;
    margin: 0;
}

.cart-item-delete {
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

.right {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.title-view {
    text-align: center;
}

.price-view {
    text-align: center;
    font-size: 150%;
}


.main-card:hover {
    color:grey;
}

.banner {
    margin-top: 0.2vw;
    padding: 1vw;
}
.img-responsive{
    width: 100%;
    margin-bottom: 5px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
}

.bg-hover:hover {
    background-color: black;
    opacity: 0.5;
}

footer {
    height: 2vw; 
    border-top: 2px solid #185a9d;
    border-bottom: 2px solid #185a9d;
    background: linear-gradient(to right, #43cea2, #185a9d);
    text-align: center;
}

.bg-color {
    background-color: rgba(255, 255, 255, 0.6);
}

.options {
    margin-top: 15%;
}

.icon {
    width: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text {
    text-align: center;
}

.why-us {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.why-us p {
    color: #ffffff;
    padding: 0.5vw;
}

.why-us h3 {
    padding: 1vw;
}

.white {
    color: #ffffff;
}

.tel, .address, .mail {
    text-align: center;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}