{% extends "_global/index.html" %}

{% block main %}

<div class="items">
</div>
<hr>
<button class="btn btn-danger" onclick="clearItems()">Obrisi sve</button>
<button class="btn btn-info" onclick="checkout()">Checkout</button>

{% endblock %}