<!doctype html>
<html>
    <head>
        <title>Projekat - {% block naslov %}IT store{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <header>
                <div class="top row">
                    <div class="col-8">
                        <a href="{{ BASE }}">
                            <p class="logo">ITstore.rs</p>                          
                        </a>
                    </div>
                    <div class="col-lg-4 d-none d-md-block">
                        <div class="social-icons text-right">
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-facebook-official"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>  
                </div>
                <nav class="navbar navbar-expand-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ BASE }}"><i class="fa fa-home"></i> Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}categories"><i class="fa fa-bars"></i> Kategorije</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}contact"><i class="fa fa-phone"></i> Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ BASE }}admin/logout"><i class="fa fa-sign-out"></i> Odjava</a>
                        </li>
                        </ul>
                        <a class="nav-link" href="{{ BASE }}admin-panel"><i class="fa fa-wrench"></i> Admin panel</a>
                        <a class="nav-link" href="{{ BASE }}cart"><i class="fa fa-shopping-cart"></i> Korpa</a>
                        <form method="POST" action="{{BASE}}search" class="form-inline my-2 my-lg-0">
                            <input class="search-input" type="text" name="q" placeholder="&nbsp;Pretraga" >
                            <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </nav>  
            </header>
        </div>   
        <div class="row">
            <div class="col-lg-2 d-none d-lg-block banner">
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-4.png"></a>
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-5.png"></a>
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-6.png"></a>
            </div>
            <main class="col-lg-8">
                {% block main %}
                {% endblock %}
            </main>
            <div class="col-lg-2 d-none d-lg-block banner">
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-4.png"></a>
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-5.png"></a>
                    <a href="#"><img class="img-responsive" src="{{ BASE }}assets/img/banner-6.png"></a>
            </div>
        </div>
        <footer>
            <p class="white">&copy; 2019 - Master rad - Luka Jovanović</p>
        </footer>

        <script>
            const BASE = '{{ BASE }}';
            function checkout(){
                window.location.href = '{{ BASE }}checkout';
            }
           
        </script>
        <script src="{{BASE}}assets/js/cart.js"></script>
        <script src="{{BASE}}assets/js/validate-form.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>       
    </body>
</html>
