<!doctype html>
<html>
    <head>
        <title>{% block naslov %}Upravljanje javnim nabavkama{% endblock %}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/jquery/dist/jquery.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container bg-light">
                        <a class="navbar-brand ml-3" href="{{ BASE }}"><img src="{{ BASE }}assets/img/ps.png" style="height:50px;"></a>
                        <ul class="nav navbar-nav">
                            <a class="nav-item nav-link active" href="{{ BASE }}"> Početna</a>
                            <a class="nav-item nav-link ps-blue" href="{{ BASE }}program-poslovanja">Program poslovanja</a>
                            <a class="nav-item nav-link ps-blue" href="{{ BASE }}plan-javnih-nabavki">Plan javnih nabavki</a>
                            <a class="nav-item nav-link ps-blue" href="{{ BASE }}realizacija-sprovodjenja-nabavke">Realizacija sprovođenja nabavke</a>
                            <a class="nav-item nav-link ps-blue" href="{{ BASE }}realizacija-ugovora">Realizacija ugovora</a>
                        </ul>
                        <ul class="nav navbar-nav ml-auto">
                            <a class="nav-item nav-link ps-blue" href="{{ BASE }}logout"><i class="logout fa fa-sign-out"></i> Odjava</a>
                        </ul>
         
                </div>
            </nav>
        </header>
        <div class="container main-margin">
            <main>
                {% block main %}
                {% endblock %}     
            </main>
        </div>
        <footer class="container-fluid bg-light p-2">
                <div class="text-center ps-blue font-weight-bold">
                    &copy; 2019 - Master rad - Putevi Srbije - Luka Jovanović
                </div>
        </footer>
        <script src="{{BASE}}assets/js/validate-form.js"></script>
        <script src="{{BASE}}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{BASE}}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{BASE}}assets/libs/jquery-table2excel/dist/jquery.table2excel.min.js"></script>
    </body>
</html>
