{% extends "/_global/index.html" %}

{% block main %}
<div>
    <div class="options">
		<a class="btn btn-success text-white" href="{{ BASE }}admin/products"><i class="fa fa-list"></i>&nbsp;List all products</a>
    </div>

    <form class="product-form" method="POST" enctype="multipart/form-data" onsubmit="return validateForm();">
        
        <div class="form-group">
            <label for="title">Title: </label>
            <input class="form-control" type="text" id="title" name="title" pattern=".*[^\s]{3,}.*" required>
        </div>
        <div class="form-group">
            <label for="description">Description: </label>
            <textarea class="form-control" id="description" name="description" rows="10" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image: </label>
            <input class="form-control" type="file" id="image" name="image" accept="image/png" required>
        </div>
        <div class="form-group">
            <label for="price">Price: </label>
            <input class="form-control" type="number" id="price" name="price" min="0.01" step="0.01" required> 
        </div>
        <div class="form-group">
            <label for="category_id">Kategorija: </label> 
            <select class="form-control" name="category_id" id="category_id">
                {% for category in categories %}
                <option value="{{ category.category_id }}">{{ category.name|escape }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit"><i class="fa fa-plus"></i>Add product</button>
        </div> 
    </form>
</div>
{% endblock %}