{% extends "/_global/index.html" %}

{% block main %}
<div>
    <div class="options">
            <button class="btn btn-success" onclick="location.href='{{ BASE }}admin/products'"><i class="fa fa-list"></i>&nbsp;List all products</button>
    </div>

    <p class="message-add">{{ message|escape }}</p>
</div>
{% endblock %}